<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>'Best of' List </title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/listItem.js"></script>
	</head>
	<div class="w3-container w3-teal">

</div>
	<body style="background-color:rgb(175, 175, 175);"></bodystyle>
		<img src="https://www.pixelmusic.net/img/web-header.png" alt="Header"  width="100%">
	<center>{{{ body }}}</center>
	<br>
	<br>
	<br>
	<br>
	<br>
	<footer><img src="https://www.all-tickets.eu/templates/alltickets/img/category_footer/footer_music.jpg" alt="music"  width="100%">
	</footer>	
		
	</body>
</html>
