<h1>'Best of' Items</h1>

<h2>Songs I am considering for 'Best of...' this Year</h2>

<ul>
  {{#each list}}
    {{#unless liked}}
      {{this.song}}
      {{!-- {{> list/list-block removed=true}} --}}
    {{/unless}}
  {{/each}}
</ul>

{{!-- consider chainging this to 'liked by other users' --}}
<h2>Songs liked:</h2>

<ul>
  {{#each list}}
    {{#if liked}}
      {{this.song}}
      {{!-- {{> list/list-block removed=false}} --}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Song to my 'Best of' list</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Song Name:</label>
    <input type="text" id="ca" name="song">
  </div>

  <div class="form-group">
    <label for="like">Like</label><br>
    <input type="radio" name="liked" value="1" checked> Like!<br>
    <input type="radio" name="liked" value="0"> Liked
  </div>

  <button type="submit">Add Song</button>
</form>
